{% extends "base.html" %}

{% block content %}
{% for stage, topic_stage in topics.items %}
    <button title="Click to Show/Hide Content" type="button"
            onclick="spoiler('stage-{{ stage }}')">{{ stage }}</button>

    <div id="stage-{{ stage }}" style="display:none">
      {% for topic in topic_stage %}
          <li>{{ topic.title }}  <a href='{{ topic.get_edit_whole_topic_url }}'>Edit</a>  <a href='{{ topic.get_student_view_url }}'>View</a></li>
      {% endfor %}
      <p><a href = '/topic/add/stage/{{ stage.pk }}'>Add a new topic</a></p>
    </div>
{% endfor %}
{% if empty %}
    Oh! It seems that you need to add classes ('Your classes' section) to be able to add new topics.<br>
{% endif %}
<br>

{% endblock %}
