{% extends "base.html" %}

{% block content %}
    <h3>{{ topic.title }}</h3>
    <p>{{ skill.title }}</p>
    Pick a level of advancement:
    <br>
    <h6>{{ level }}</h6>

    <form method="POST", action=".">{% csrf_token %}
        <table>
            <tr>
                <th>{{ stage }}</th>
            </tr>
            {% for student, grade in last_grades.items %}
            <tr>
                <td>
                    <li> <label>{{ student.first_name }} {{ student.last_name }}</label></li>
                </td>

                <td>
                    <select name={{ student.pk }}>
                        <option value="empty"></option>
                        <option value="nb" {% if grade.value == 'nb' %}selected{% endif %}>nb</option>
                        <option value="tick" {% if grade.value == 'tick' %}selected{% endif %}>✓</option>
                        <option value="cross" {% if grade.value == 'cross' %}selected{% endif %}>☓</option>
                        <option value="G" {% if grade.value == 'G' %}selected{% endif %}>G</option>
                        <option value="B" {% if grade.value == 'B' %}selected{% endif %}>B</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="OK">
    </form>
{% endblock %}
