{% extends "base.html" %}

{% block content %}
    <style>
        table, th, td {
        border:1px solid black;
        }
        th {text-align: center}

    </style>
    <h3>{{student.first_name}} {{student.last_name}}</h3>
    <h4>{{ topic }}  </h4>
    <form method="POST", action="./{{skill.slug}}">{% csrf_token %}
        <table style="width:100%" >
            <tr>
                <th width="25%"></th>
                <th width="25%">Chill</th>
                <th width="25%">Medium</th>
                <th>Challenge</th>
            </tr>
            {% for skill in skill_list %}
            <tr>
                <td>{{ skill.title }}</td>
                <th>
                    <select name={{skill.slug}}1>
                        <option value="empty"></option>
                        <option value="nb">nb</option> 
                        <option value="tick">✓</option>
                        <option value="cross">☓</option>
                        <option value="G">G</option>
                        <option value="B">B</option>                               
                    </select>
                </th>
                <th>
                    <select name={{skill.slug}}2>
                        <option value="empty"></option>
                        <option value="nb">nb</option> 
                        <option value="tick">✓</option>
                        <option value="cross">☓</option>
                        <option value="G">G</option>
                        <option value="B">B</option>                               
                    </select>
                </th>
                <th>
                    <select name={{skill.slug}}3>
                        <option value="empty"></option>
                        <option value="nb">nb</option> 
                        <option value="tick">✓</option>
                        <option value="cross">☓</option>
                        <option value="G">G</option>
                        <option value="B">B</option>                               
                    </select>
                </th>
            </tr>
            {% endfor %}
            
        </table>
        <input type="submit" value="OK">
    </form> 
    <br><br>
{% endblock %}