
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">ThinkingFeedback</a>

      <div class="navbar-header" id="navbarSupportedContent"></div>
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">

          </li> -->

          {% if user.is_authenticated %}
            {% if request.user.is_staff %}
              <li class="nav-item" >
              <!-- <li class="navbar-toggle" data-toggle="collapse"> -->
                <a class="nav-link active" href="/your_classes/">Your classes</a>
              </li>
              <li class="nav-item">
                <!-- <li class="navbar-toggle" data-toggle="collapse"> -->
                <a class="nav-link active" href="/topic">Edit tables</a>
              </li>
              <li class="nav-item">
                <!-- <li class="navbar-toggle" data-toggle="collapse"> -->
                <a class="nav-link active" href="/grade">Add grades</a>
              </li>

              <li class="nav-item">
              <!-- <li class="navbar-toggle" data-toggle="collapse"> -->
                <a class="nav-link active" href="/by_student">By student</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active" href="/student/topics">Your grades</a>
              </li>
            {% endif %}
          {% endif %}



        </ul>
            {% if not user.is_authenticated %}

              <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/login">Login</a>
            {% else %}
              <ul class="navbar-nav">
                <!-- me-auto mb-2 mb-lg-0 -->
                <li class="nav-item dropdown">
                  <a style="color: white" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.username}}
                  </a>
                  <ul class="dropdown-menu" style="left:auto; right:0; margin-right:-10px;">
                    <li><a class="dropdown-item" href="/update_user/">Update Details</a></li>
                    <li><a class="dropdown-item" href="/password/">Change Password</a></li>
                    <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                  </ul>
                </li>
              </ul>


              <!-- <span style="color: white"><a style="color: white" class="nav-link" href="/password"> {{user.username}} </a></span>

              <a style="color: white" class="nav-link" href="/logout">Logout</a>   -->

            {% endif %}


      </div>
    </div>
  </nav>
