{% extends 'base.html' %}

{% block content %}
    <p>
        Please enter your password twice so we can 
        verify that you typed it in correctly.
    </p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-secondary" type="submit">Submit</button>
        <!-- <input type="Submit" name="Update password"> -->
    </form><br><br>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
{% endblock %}