{% extends 'base.html' %}

{% block content %}

<h3>{{ stage.title }}</h3>
<h5>{{ stage.teacher }}</h5>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    
    {% for password in passwords %}
    <tr>
        <td><li></td>
        <td>
            {{ password.student.first_name }} {{ password.student.last_name}}
        </td>
        <td>{{ password.student.username }}</td>
        <td>{{ password.password }}</td></tr></li>
    </tr>
    {% endfor %}
</table>
{% endblock %}